@use 'global' as *;
.c-btn {
  font-family: $font-en;
  font-weight: $bold;
  text-align: center;
  font-size: rem(14);
  display: inline-block;
  color: $white;
  min-width: rem(200);
  text-transform: uppercase;
  background: transparent linear-gradient(90deg, #7633A4 0%, #250D65 100%) 0% 0% no-repeat padding-box;
  border-radius: rem(50);
  padding: rem(20) 0;
  letter-spacing: 0.05em;
  line-height: 1;
}