@use 'global' as *;

.p-footer-nav {

}

.p-footer-nav__items {
  display: flex;
  flex-wrap: wrap;
  gap: rem(20);
}

.p-footer-nav__item {
  color: $white;
  font-family: $font-en;
  font-size: rem(12);
  font-weight: $bold;
  line-height: calc(15/12);
}

