@use 'global' as *;
.p-header {
  width: 100%;
  height: rem(62);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $blue;
}

.p-header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(15);
}

.p-header__logo {
  height: inherit;
  // position: absolute;
  z-index: 100;
}
.p-header__logo-link {
  height: inherit;
  display: flex;
  align-items: center;
  color: $white;
  font-size: rem(18);
  line-height: calc(22/18);
  letter-spacing: .018em;
}

.p-header__drawer {
  @include mq('md') {
    display: none;
  }
}

.p-header__pc-nav {
  display: none;
  @include mq('md') {
    display: block;
  }
}
